<?xml version="1.0"?>
<config>
    <modules>
        <Mwojcik_Getresponse>
            <version>1.0.0</version>
        </Mwojcik_Getresponse>
    </modules>
    <global>
        <blocks>
            <mwojcik_getresponse>
                <class>Mwojcik_Getresponse_Block</class>
            </mwojcik_getresponse>
        </blocks>
        <helpers>
            <mwojcik_getresponse>
                <class>Mwojcik_Getresponse_Helper</class>
            </mwojcik_getresponse>
        </helpers>
        <models>
            <mwojcik_getresponse>
                <class>Mwojcik_Getresponse_Model</class>
            </mwojcik_getresponse>
        </models>
        <resources>
            <mwojcik_getresponse_setup>
                <setup>
                    <module>Mwojcik_Getresponse</module>
                </setup>
            </mwojcik_getresponse_setup>
        </resources>
    </global>


    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <getresponse_add_to_cart_shop_webhook>
                        <class>Mwojcik_Getresponse_Model_Observer</class>
                        <method>addProductToCartHandler</method>
                    </getresponse_add_to_cart_shop_webhook>
                </observers>
            </checkout_cart_product_add_after>

            <customer_register_success>
                <observers>
                    <getresposne_customer_register_success>
                        <class>Mwojcik_Getresponse_Model_Observer</class>
                        <method>customerRegisterSuccessHandler</method>
                    </getresposne_customer_register_success>
                </observers>
            </customer_register_success>

        </events>
    </frontend>

    <admin>
        <routers>
            <mwgetresponse>
                <use>admin</use>
                <args>
                    <module>Mwojcik_Getresponse</module>
                    <frontName>mw-getresponse</frontName>
                </args>
            </mwgetresponse>
        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <getresponse_options>
                                            <title>GetResponse configuration</title>
                                        </getresponse_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <getresponse_options>
            <fields_mapping>
                <map_fields><![CDATA[a:8:{s:18:"_1499117163403_403";a:2:{s:7:"magento";s:10:"First Name";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_404";a:2:{s:7:"magento";s:9:"Last Name";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_405";a:2:{s:7:"magento";s:11:"Middle Name";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_406";a:2:{s:7:"magento";s:13:"Date Of Birth";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_407";a:2:{s:7:"magento";s:14:"Billing Street";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_408";a:2:{s:7:"magento";s:12:"Billing City";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_409";a:2:{s:7:"magento";s:17:"Billing Post Code";s:5:"gr_id";s:0:"";}s:18:"_1499117163403_410";a:2:{s:7:"magento";s:15:"Billing Country";s:5:"gr_id";s:0:"";}}]]></map_fields>
            </fields_mapping>
        </getresponse_options>
    </default>


</config>
